@import 'antd/dist/antd.css';

.logo1 {
    float: left;
    width: 150px;
    /* height: 31px; */
    /* margin: 16px 24px 16px 0; */
    /* padding:10px; */
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    color: white;
    font-size: 25px;
  }
  
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .sider-my-class{
    padding:20px;
  }

  .events {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .notes-month {
    font-size: 28px;
    text-align: center;
  }
  .notes-month section {
    font-size: 28px;
  }
  /* .ant-picker-calendar-header{
    display: none;
  } */
  .monthCalendar{
    width: 100%;
    height: 800px;
  }
  .card{
    width: 200px;
    padding:10px;
    background-color: #e9e9e9;
    border-radius: 20px;
    border: 1px solid rgb(146, 146, 146);
    box-shadow: 4px 5px 15px 1px #000000;

  }
  .cardsWrapper{
    display: flex;
    flex-wrap: wrap;

  }
  .badgeOver{
    margin: 10px;
  }
  .plusBtn{
    
    background-color: #e9e9e9;
    border-radius: 20px;
    border: 1px solid rgb(146, 146, 146);
    box-shadow: 4px 5px 15px 1px #000000;
    margin: 10px;
    height: 150px;
    width: 150px;
    align-self: center;
  }
  .plusBtn img{
    width: 100px;
    height: 100px;
    
  }

.searchTab{
  border: 1px solid rgb(146, 146, 146);
  padding:10px;
}